---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Suvrshti</h1>
			<p>
				Rashmi Parakkal is an exploratory artist with a creative
        outlook towards every aspect of life. Growing up amidst the
        vividly colourful traditions, culture, people and captivating
        nature of Kerala, India, thoroughly inspired her innate
        artistic inclinations, blossoming into art journeys through
        childhood and adulthood.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/Amma-about-picture.png"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
      After post graduating in Nutrition and a stint in teaching, her
      longing and enthusiasm for art and music got the better of her as she also
      deep-dived into the chaotic happiness of homemaking and motherhood.
    </p>
    <p>Rashmi's decade old tryst with comical caricatures engages in uniquely personalised story
telling. Her caricatures celebrate real people by integrating their simple yet precious,
wholesome moments of passions ,philosophy and favourites in life.
</p>
    <p>
      Rashmi's diverse interests and expertise at classical Indian music, martial art and yoga have infused unique flavours into
her art. Her notable art experiments span from prominent art platforms like world art to
personalised caricatures presented to famous celebrities like Tamil superstar Rajnikanth,
Olympic boxing champion Mary Kom, popular stand- up comedian Ayyo Shraddha, renowned
Carnatic musicians, Ranjani Gayatri, and so on.
    </p>
    <p>
      She believes in spreading laughter and positivity through her art ,just as a famous quote goes,
“A true artist is not one who is inspired, but one who inspires others".
    </p>
  </TextSection>
</Layout>
